# systemd service unit file for prometheus-radiator-exporter

[Unit]
Description=Radiator exporter for Prometheus
After=radiator.service

[Service]
ExecStart=/opt/prometheus-radiator-exporter/prometheus-radiator-exporter
WorkingDirectory=/opt/prometheus-radiator-exporter

# a bit of hardening
PrivateNetwork=no
DynamicUser=yes
CapabilityBoundingSet=
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=yes
IPAddressDeny=
DevicePolicy=closed
PrivateDevices=no
PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectKernelTunables=yes
ProtectProc=invisible
SystemCallArchitectures=native
SystemCallFilter=@system-service
RestrictRealtime=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
ProtectHostname=yes
ProcSubset=pid

[Install]
WantedBy=multi-user.target
